project:
  output-dir: docs

format:
  html:
    theme: cosmo
    pagetitle: "Cartographie avec R"
    author-meta: "Timothée Giraud et Hugues Pecout"
    description-meta:
      "Cartographie avec R: créer des cartes thématiques reproductibles conformes aux règles de la sémiologie graphique et de la cartographie.
      L'objectif de ce document est de fournir un support à l'apprentissage de la cartographie avec R."
    lang: fr
    language: 
      title-block-author-plural: "Auteurs"
    author:
      - name: Timothée Giraud
        orcid: 0000-0002-1932-3323
        url: https://rcarto.github.io
        affiliation:
            name: Centre pour l’analyse spatiale et la géovisualisation - RIATE (CNRS)
            url: https://riate.cnrs.fr
      - name: Hugues Pecout
        orcid: 0000-0002-0246-0954
        url: https://geographie-cites.cnrs.fr/membres/hugues-pecout/
        affiliation:
            name: Géographie-cités (CNRS)
            url: https://geographie-cites.cnrs.fr
    date: today
    date-format: "D MMM YYYY"
